version: '3.8'

services:
  mediamtx:
    image: bluenviron/mediamtx:latest
    container_name: mediamtx
    restart: unless-stopped
    ports:
      - "1935:1935"  # RTMP
      - "8554:8554"  # RTSP
      - "8888:8888"  # HTTP (HLS, API, Prometheus)
      - "8889:8889"  # HTTPS (HLS, API, Prometheus)
    volumes:
      - ./mediamtx.yml:/mediamtx.yml  # Конфигурационный файл